body {
    display: flex;
    justify-content: center;
    background-image: url('https://img2.wtftime.ru/store/2023/08/17/6qD8sCLs_big_poster_ds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

a, span, h1, h2, h3 {
    color: #ffffff;
}

.page {
    max-width: 1200px;
    min-width: 1200px;
    background-color: #0e0e10c7;
}

.sidebar {
    width: 30px;
    height: 30px;
}

.title_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18181b;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twitch, .youtube, .discord, .telegram, .don {
    width: 30px;
    height: 30px;
    margin: 10px;
}



.profile {
    display: none;
}
.profile:target {
    display: block;
}