body {
    display: flex;
    justify-content: center;
    background-image: url('https://img2.wtftime.ru/store/2023/08/17/6qD8sCLs_big_poster_ds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

a, span, h1, h2, h3 {
    color: #ffffff;
    text-decoration: none;
}

.page {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    top: 50px;
    background-color: #0e0e10c7;
}

.title_bar {
    display: flex;
    position: fixed;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    background-color: #18181bfa;
    top: 0px;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twitch, .youtube, .discord, .telegram, .don {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.nav_bar {
    position: fixed;
}
.nav_btn {
    padding: 8px;
    background-color: rgb(77, 77, 77);
    border: none;
}



.profile, .char {
    display: none;
    text-align: center;
    padding: 20px;
}
.profile:target, .char:target {
    display: block;
}
.img_prof {
    width: 300px;
    margin-top: 20px;
    border: 1px black solid;
    border-radius: 15px;
}