body {
    display: flex;
    justify-content: center;
    background-image: url(/data/res/arl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

a, span, h1, h2, h3 {
    color: #ffffff;
}

.page {
    max-width: 1200px;
    min-width: 1200px;
    background-color: #0e0e10;
}

.page-l {
    display: flex;
    justify-content: flex-start;
}

.sidebar {
    width: 30px;
    height: 30px;
}

.title_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18181b;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twitch, .youtube, .discord, .telegram, .don {
    width: 30px;
    height: 30px;
    margin: 10px;
}

img {
    width: 30px;
}

.menu {
    width: 46px;
    background-color: #1f1f23;
    overflow: hidden;
}

.content {
    width: 1100px;
}

.menu.open {
    width: 146px;
    background-color: #1f1f23;
}

nav {
  background-color: #1f1f23;
}

.el {
    width: 130px;
    display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
}

nav .el:hover {
  background-color: #555;
}

.bl-1 {
    margin-left: 15px;
}
@media only screen and (min-device-width: 300px) 
                   and (max-device-width: 800px) 
                   and (orientation: portrait) {
    .page {
        min-width: -webkit-fill-available;
    }
    .twitch, .youtube, .discord, .telegram, .don {
        width: 10px;
        height: 10px;
        margin: 5px;
    }
    .sidebar {
        width: 15px;
        height: 15px;
    }
    span.mem {
        font-size: 25px !important;
    }
    img {
        width: 15px;
    }
    .el {
        padding: unset !important;
    }
    img#mm {
        width: 244px !important;
    }
}